/*
        This theme requires material.css
*/
@import "material.css";


.menu {
    background-color: #404552;
    border: 1px solid #404552;
}

.menu-button {
    background-color: #5151c9;
    color: #ffffff;
}

.menu-label {
    color: #EEEEEE;
}

.menu-select {
    background-color:#383c4a;
    border:#383c4a 2px solid;
    color: #FFFFFF;
}

.menu-input-text {
    background-color: #383c4a;
    color: #FFFFFF;
    border: #212531 2px solid;
}

.menu-title {
    color: #FFFFFF;
}

.menu-info {
    color: #FFFFFF;
}

.menu-button {
    background-color: #5294e2;
}

::-webkit-scrollbar-track {
    background: #1a1e27;
}

::-webkit-scrollbar-thumb {
    background: #262b39;
}