/*
  Theme made by Saitama__
*/

* {
    font-family: sans-serif;
}

.input-c2 {
    padding-left: 1%;
    padding-right: 1%;
    width: 48%;
  }
  
  .input-c1 {
    padding: 0px;
    width: 100%;
  }
  
  .input-c3 {
    padding-left: 1%;
    padding-right: 1%;
    width: 31.333333%;
  }
  
  .spl-c1-1 {
    padding: 0px;
    width: 100%;
  }
  
  .spl-c2-1 {
    padding-left: 0%;
    padding-right: 1%;
    width: 49%;
  }
  
  .spl-c2-2 {
    padding-left: 1%;
    padding-right: 0%;
    width: 49%;
  }
  
  .spl-c3-1 {
    padding-left: 0%;
    padding-right: 1%;
    width: 32%;
  }
  
  .spl-c3-2 {
    padding-left: 1%;
    padding-right: 1%;
    width: 32%;
  }
  
  .spl-c3-3 {
    padding-left: 1%;
    padding-right: 0%;
    width: 32%;
  }
  
  .wrapper {
    width: 100vw;
    height: 100vh;
    text-align: center;
  }
  
  body {
    margin: 0px;
  }
  
  .menu {
    border-color: white;
    border-width: 2px;
    margin: 40px 0;
    top: 50%;
    position: relative;
    transform: translateY(-50%);
    padding: 50px;
    padding-top: 35px;
    background: #0a0e31;
    border-radius: 10px;
    text-align: left;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.45), 0 4px 8px rgba(0, 0, 0, 0.35), 0 8px 12px rgba(0, 0, 0, 0.15);
    opacity: 0.95;
  }
  
  .menu-button {
    user-select: none;
    position: relative;
    width: 100%;
    height: 30px;
    padding: 3px;
    margin-bottom: 5px;
    border-radius: 5px;
    color: #fff;
    border: none;
    background: #b33700;
    background: linear-gradient(90deg, #b33700 0%, #bb2400 35%, #ffa000 100%);
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    transition: all 150ms ease;
    outline: 0;
  }
  .menu-button:hover {
    transform: translateY(-3%);
    box-shadow: 0 8px 12px rgba(255, 255, 255, 0.08);
    background: linear-gradient(90deg, #df4b09 0%, #e26209 35%, #ffa000 100%);
    letter-spacing: 0.5px;
  }
  
  .menu-label {
    margin-bottom: 5px;
    font-weight: 800;
    color: white;
    text-transform: uppercase;
    font-size: 0.65rem;
    pointer-events: none;
    user-select: none;
  }
  
  .menu-title {
    font-size: 1.75rem;
    color: #fff;
    margin: 5px;
    text-align: center;
  }
  
  .menu-info {
    text-align: center;
    color: white;
    font-size: 12px;
  }
  
  .menu-input-text {
    padding: 3px;
    margin-bottom: 5px;
    width: calc(100% - 10px);
    padding: 3px;
    margin-bottom: 5px;
    outline: none;
    background: rgba(255, 255, 255, 0.08);
    border-radius: 5px;
    color: #fff;
    border-color: white;
    border-width: 2px;
    font-size: 20px;
  }
  
  hr {
    visibility: hidden;
  }
  
  .menu-select {
    width: 100%;
    padding: 3px;
    margin-bottom: 5px;
    outline: none;
    background: rgba(255, 255, 255, 0.08);
    border-radius: 5px;
    color: #fff;
    border-color: white;
    border-width: 2px;
    font-size: 20px;
  }
  .menu-select option {
    position: relative;
    width: 100%;
    height: 20px;
    display: flex;
    align-items: center;
    padding: 7px 7px;
    color: white;
    font-size: 13px;
    margin-bottom: 2px;
  }
  .menu-select option:hover {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.45), 0 4px 8px rgba(0, 0, 0, 0.35), 0 8px 12px rgba(0, 0, 0, 0.15);
    background: linear-gradient(90deg, #b33700 0%, #bb2400 35%, #ffa000 100%);
    letter-spacing: 2px;
    transition: all 150ms cubic-bezier(0, 0, 0, 0.1);
  }
  
  input[type=checkbox] {
    background-color: red !important;
  }
  
  ::-webkit-scrollbar {
    width: 5px;
  }
  
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  ::-webkit-scrollbar-thumb {
    background: #888;
  }
